*{
  margin: 0px;
  color: white;
}

img{
  width: 100%;
  height: auto;
}

.background{
  background-image: url(./image/bg.jpg);
  background-position:center;
  background-repeat:no-repeat;
  height: 680px;
  color: white;
}

.navbar{
  padding-top: 20px;
  overflow: hidden;
}

.nav-left{
  width: 41%;
  float: left;
  padding-top: 10px;
}

.nav-left span{
  list-style-type:none;
  float: right;
  margin-left: 30px;
  color: white;
  font-size: 20px;
  cursor:pointer;
}

@media (max-width: 768px) {
  .nav-left{
    width: 50%;
  }
  .nav-left span{
    margin-top: 50px;
  }
}

.navbar .title{
  color: white;
  font-size: 35px;
  width: 18%;
  /* float: left; */
  margin: 0 auto;
  text-align:center;
}

@media (max-width: 768px) {
  .navbar .title{
    width: 25%;
  }
}

.nav-right{
  width: 41%;
  float: right;
  padding-top: 10px;
}

.nav-right span{
  list-style-type:none;
  float: left;
  margin-right: 30px;
  color: white;
  font-size: 20px;
  cursor:pointer;
}

.text-center{
  margin: 0 auto;
  text-align:center;
}

.float-container{
  overflow: hidden;
}

.title{
  color: white;
  font-size: 80px;
  float: left;
  margin-top: 120px;
  margin-left: 50px;
}

@media (max-width: 500px) {
  .title{
    float: none;
    margin: 0px;
  }
}

.description{
  float: right;
  font-size: 25px;
}

.join-us{
  margin-top: 100px;
  background: transparent; /*完全透明*/
  width: 180px;
  height: 80px;
  border-style:solid;
  border-width:2px;
  border-color:white;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  outline:none;
  cursor:pointer;
}

.join-us:hover{
  background: rgba(255, 255, 255, 0.3);
}

.triangle-bottom-left {
  width: 46%;
  height: 50px;
  float: left;
  border-bottom: 60px solid #2f343b;
  border-right: 60px solid transparent;
}

.triangle-bottom-right {
  width: 46%;
  height: 50px;
  float: right;
  border-bottom: 60px solid #2f343b;
  border-left: 60px solid transparent;
}

@media (max-width: 1366px) {
  .triangle-bottom-left {
    width: 45%;
    border-bottom: 60px solid #2f343b;
    border-right: 60px solid transparent;
  }

  .triangle-bottom-right {
    width: 45%;
    border-bottom: 60px solid #2f343b;
    border-left: 60px solid transparent;
  }
}

@media (max-width: 1280px) {
  .triangle-bottom-left {
    width: 45%;
    border-bottom: 50px solid #2f343b;
    border-right: 50px solid transparent;
  }

  .triangle-bottom-right {
    width: 45%;
    border-bottom: 50px solid #2f343b;
    border-left: 50px solid transparent;
  }
}

@media (max-width: 1024px) {
  .triangle-bottom-left {
    width: 45%;
    border-bottom: 50px solid #2f343b;
    border-right: 50px solid transparent;
  }

  .triangle-bottom-right {
    width: 45%;
    border-bottom: 50px solid #2f343b;
    border-left: 50px solid transparent;
  }
}

@media (max-width: 1018px) {
  .triangle-bottom-left {
    width: 45%;
    border-bottom: 40px solid #2f343b;
    border-right: 40px solid transparent;
  }

  .triangle-bottom-right {
    width: 45%;
    border-bottom: 40px solid #2f343b;
    border-left: 40px solid transparent;
  }
}

@media (max-width: 768px) {
  .triangle-bottom-left {
    width: 43%;
    border-bottom: 50px solid #2f343b;
    border-right: 50px solid transparent;
  }

  .triangle-bottom-right {
    width: 43%;
    border-bottom: 50px solid #2f343b;
    border-left: 50px solid transparent;
  }
}

@media (max-width: 500px) {
  .triangle-bottom-left {
    width: 39%;
    border-bottom: 40px solid #2f343b;
    border-right: 40px solid transparent;
  }

  .triangle-bottom-right {
    width: 39%;
    border-bottom: 40px solid #2f343b;
    border-left: 40px solid transparent;
  }
}

@media (max-width: 360px) {
  .triangle-bottom-left {
    width: 38%;
    border-bottom: 42px solid #2f343b;
    border-right: 42px solid transparent;
  }

  .triangle-bottom-right {
    width: 38%;
    border-bottom: 42px solid #2f343b;
    border-left: 42px solid transparent;
  }
}

.research-area{
  margin-top: -110px;
  overflow: hidden;
}

.research-area-title{
  font-size: 40px;
  margin-top: 80px;
}

.black-bg{
  background: #2f343b;
  overflow: hidden;
  width:100%;
}

.plane{
  background-color: whitesmoke;
  padding: 20px;
  color: black;
  margin: 10px;
  border-radius: 5px;
  min-height: 180px;
}

.plane h1{
  color: black;
}

.plane p{
  color:black;
  font-size: 20px;
}

.qq-img{
  width:400px;
  margin-top:80px;
  margin-bottom:80px;
}

@media (max-width: 768px) {
  .qq-img{
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }
}